/* Estilos Globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-brilhante_53876-34022.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1726531200&semt=ais_hybrid');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
}

/* Container principal da To-Do List */

.todo-container {
    flex: 1;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Área de input de tarefa */

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#nova-tarefa {
    width: 75%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#nova-tarefa:focus {
    border-color: #007bff;
}

/* Estilizando o botão de adicionar tarefa */

#adicionar-tarefa {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#adicionar-tarefa:hover {
    background-color: #000000;
}

/* Lista de tarefas */

ul#lista-tarefas {
    list-style-type: none;
    padding: 0;
}

/* Cada item de tarefa */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  /* Botão de remover tarefa */
  button.remover-tarefa {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.remover-tarefa:hover {
    background-color: #e60000;
  }
  
  /* Rodapé fixo no final da página */
  footer {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  } 