body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    color: #333;
}

header{
    background-image: url('../img/fundo\ cabeçalho.jpeg');
    padding: 50px;
    background-size: cover;
    text-align: center;
}

header h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.text-effects h2{
    margin: 20px;
    font-size: 2rem;
    transition: all 0.3s ease;

}

/* Efeito de preenchimento com cor ao passar o mouse */

.effect-fill:hover {
    background-image: linear-gradient(to right, #f2709c, #ff9472, #333);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;

    /* Verifica a compatibilidade do navegador com o efeito */
}

/* Efeito ampliar o texto ao clica */

.effect-scale:active {
    transform: scale(1.2);
    /* Aumentara o tamanho aprox 20% */
}

.effect-fade-in {
    opacity: 0;
    animation: fadeIn 3.5s forwards;

}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

/* Efeito de rotação do texto ao passar o mouse */

.effect-rotate:hover {
    transform: rotate(5deg);
}

/* Efeito de sombreamento */

.effect-shadow:hover{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Efeito borda ao passar o mouse */

.effect-border-grow:hover {
    border:2px solid;
    padding: 5;
}

/* Efeito de brilho no texto ao passar o mouse */

.effect-glow:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* Efeito de flutuação */

.effect-float:hover {
    transform: translatey(-10px);
}

/* Efeito mudança de cor ao passar o mouse */

.effect-color-shift:hover {
    color: rgb(17, 0, 252);    
}

/* Efeito desfoque do texto ao passar o mouse */

.effect-blur:hover {
    filter: blur(2px);
}

/* Efeito das BOXs */

.box-effects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 200px;
    height: 150px;
    margin: 20px;
    background-color: rgb(219, 148, 61);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

/* Efeito de sombra ao passar o mouse */

.box-shadow:hover {
    box-shadow: 10px 10px 30px #333333;
}

/* Efeito de zoom */

.box-zoom:hover {
    transform: scale(1.1);
}

/* Efeito de troca de cor */

.box-hover-bg:hover {
    background-color: rgb(105, 65, 19);
}

/* Efeito de rotação */

.box-rotate:hover {
    transform: rotate(25deg);
}

/* Efeito de bordas arrendondadas ao passar o mouse */

.box-border-radius:hover {
    border-radius: 50%;
}

/* Efeito de transição (movimento lateral) */

.box-translate:hover {
    transform: translateX(20px);
}

/* Efeito de escala ao passar o mouse */

.box-scale:hover {
    transform: scale(5.5);
}

/* Efeito de inclinação */

.box-skew:hover {
    transform: skew(10deg);
}

/* Efeito de brilho */

.box-glow:hover {
    box-shadow: 0 0 15px #ddd;
}

/* Efeito de deslizar ao passar o mouse */

.box-slide-up:hover {
    transform: translateY(-10px);
}