/* Define o estilo da pagina */

body {
    font-family: Arial, Helvetica, sans-serif; /* Fonte */
    background-color: #f7f7f7; /* Cor de fundo */
    margin: 0; /* Margem */
    padding: 0; /* Espaçamento entre os itens */
    display: flex; /* Tipo de display */
    justify-content: center; /* Modelo de display */
    align-items: center; /* Alinhamento dos itens */
    height: 100vh; /* Altura */
}

/* Estiliza o conteiner central */

.container {
    text-align: center; /* Alinhamento do texto */
    background-color: white; /* Cor de fundo */
    padding: 50px; /* Espaçamento */
    border-radius: 30px; /* Arrendondamento das bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
}

/* Estilo dos campos de input e botões */

input[type="text"], input[type="number"] {
    padding: 10px; /* Espaçamento */
    margin: 5px; /* Margem */
    width: 200px; /* Largura */
    border: 1px solid #ccc; /* Cor da borda sólida */
    border-radius: 5px; /* Arrendodamento das bordas */
}

/* Estilo do botão */

button {
    padding: 10px 20px; /* Espaçamento interno */
    margin: 20px; /* Margem */
    background-color: #d3a117; /* Cor do fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem bordar */
    border-radius: 15px 15px; /* Arrendondamento das bordas */
    cursor: pointer;
}

/* Efeito mudança de cor ao passar o mouse */

button:hover {
    background-color: #ffc400; /* Cor ao passar o mouse */
}

/* Estilos das tabela */

table {
    width: 100%; /* Largura */
    margin-top: 20px; /* Alinhamento da margem acima */
    border-collapse: solid; /* Borda dispersa */
    text-align: left; /* Alinhamento do texto */
}

/* Estilo das linhas e celulas da tabela */

th, td {
    padding: 10px; /* Espaçamento */
    border: 1px solid #ccc; /* Cor da borda */
}

/* Oculta elementos inicialmente */

.oculto {
    display: none; /* Retira o elemento do display */
} 